.hero {
   height: 82rem;
   background: url(/img/bg.jpg);
   background-position: center -90px;
   background-repeat: no-repeat;

}

.hero__white {
   background: url(/img/bg\ light.jpg);
   background-position: center -90px;
   background-repeat: no-repeat;
}

.hero__text {
   width: 50rem;
   height: 33rem;
   padding-top: 16rem;
   padding-left: 8rem;
}

.hero-title {
   color: #FFFFFF;
   font-family: 'Merriweather', serif;
   font-size: 6rem;
   line-height: 12rem;
   margin: 0;
}

.hero-subtitle {
   color: #FFFFFF;
   font-size: 2rem;
   line-height: 4rem;
   margin: 1rem 0 0;
}

.hero-button {
   width: 22rem;
   height: 5.5rem;
   background: #BDAE82;
   text-align: center;
   border: none;
   font-size: 2rem;
   line-height: 4rem;
   margin-top: 2.5rem;
   cursor: pointer;
   font-family: inherit;
}

.hero-button:hover {
   color: #FFFFFF;
   transition: 1s;
}

.white_activ {
   color: #1C1C1C;
}

@media (max-width: 768px) {
   .hero__text {
      padding-top: 7.8rem;
      padding-left: 6.5rem;
   }

   .hero-title {
      font-size: 3.2rem;
      line-height: 6.4rem;
      font-family: inherit;
   }

   .hero-subtitle {
      line-height: normal;
      width: 39rem;
   }

   .hero-button {
      margin-top: 6rem;
   }

   .hero {
      height: 50rem;
      background-size: 100rem;
      background-position: left 0 top -9rem;
   }
}